___
# Exercício: Análise Exploratória - Variáveis Qualitativas
___

## Aula 02

## Índice

- [Empresa de TV](#empresa-de-tv)
    - [Tipos de variáveis](#tipos-de-variaveis)
    - [Exercício 1](#exe1)
    - [Exercício 2](#exe2)
    - [Exercício 3](#exe3)


- [Barras de chocolate](#chocolate)
    - [Exercício 4](#exe4)
    - [Exercício 5](#exe5)
    - [Exercício 6](#exe6)

In [1]:
# %matplotlib inline
import math
from math import sqrt

import os
import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
import pandas as pd

from IPython.display import display  # Para ter melhor print.

# Pode trazer mais bibliotecas, caso julgue interessante!!

In [2]:
# Listando o diretório de trabalho. Lembre-se que o arquivo com a base de dados precisa estar neste diretório.
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\rapha\OneDrive - Insper - Institudo de Ensino e Pesquisa\Área de Trabalho\Faculdade\3 semestre\cdados_dp\aulas\aula02

___
<div id="empresa-de-tv"></div>

# Empresa de TV

<img src="empresaTV.jpg" height="400">

Fonte: extraído da internet

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente.
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(Muito insatisfeito, Insatisfeito, Indiferente, Satisfeito e Muito satisfeito).
* RENDA: renda pessoal do cliente, em milhares de reais.

O arquivo `EmpresaTV_Cod.xlsx` contém as variáveis descritas acima.

In [3]:
# Carregando os dados do arquivo
dados = pd.read_excel('EmpresaTV_Cod.xlsx')

In [4]:
dados['PLANO'] = dados['PLANO'].astype('category')
dados['EC'] = dados['EC'].astype('category')
dados['SATISFACAO'] = dados['SATISFACAO'].astype('category')

In [5]:
dados['PLANO'].cat.categories = ['A', 'B']
dados['EC'].cat.categories = ['Casado', 'Solteiro', 'Outros']
dados['SATISFACAO'] = pd.Categorical(dados.SATISFACAO, 
                                     categories = ['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 
                                                   'Satisfeito', 'Muito Satisfeito'], 
                                     ordered=True)

In [6]:
# Visualizando as cinco primeiras linhas
dados.head(5)

   CLIENTE PLANO        EC        SATISFACAO  RENDA
0        1     A    Casado  Muito Satisfeito   21.4
1        2     A  Solteiro  Muito Satisfeito   17.2
2        3     A    Outros  Muito Satisfeito   15.6
3        4     A    Casado        Satisfeito   10.4
4        5     A  Solteiro  Muito Satisfeito   17.6

<div id="exe1"></div>

### EXERCÍCIO 1

A coluna SATISFACAO está com uma granularidade muito grande para algumas análises. Crie uma coluna `SENTIMENTO` no `DataFrame` com as seguintes categorias:

    Não curtiu, se SATISFACAO = Insatisfeito ou Muito Insatisfeito
    Indiferente, se SATISFACAO = Indiferente
    Curtiu, se SATISFACAO = Satisfeito ou Muito Satisfeito
    
Ainda, modifique essa nova variável `SENTIMENTO` no *dataframe* `dados` como ordinal.

In [7]:
dados['SENTIMENTO'] = ''
for s in dados.SATISFACAO.index:
    if dados.SATISFACAO[s] == 'Muito Satisfeito' or dados.SATISFACAO[s] == 'Satisfeito':
        dados['SENTIMENTO'][s] = 'Curtiu'
    elif dados.SATISFACAO[s] == 'Muito Insatisfeito' or dados.SATISFACAO[s] == 'Insatisfeito':
        dados['SENTIMENTO'][s] = 'Não Curtiu'
    else:
        dados['SENTIMENTO'][s] = 'Indiferente'

C:\Users\rapha\AppData\Local\Temp\ipykernel_22448\3209331807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['SENTIMENTO'][s] = 'Curtiu'
C:\Users\rapha\AppData\Local\Temp\ipykernel_22448\3209331807.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['SENTIMENTO'][s] = 'Indiferente'
C:\Users\rapha\AppData\Local\Temp\ipykernel_22448\3209331807.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados['SENTIMENTO'][s] = 'Não Curtiu'

In [8]:
dados.loc[(dados['SATISFACAO'] == 'Indiferente'), :]

    CLIENTE PLANO        EC   SATISFACAO  RENDA   SENTIMENTO
17       18     A  Solteiro  Indiferente   10.3  Indiferente
20       21     A    Outros  Indiferente    9.3  Indiferente
21       22     A  Solteiro  Indiferente    7.4  Indiferente
23       24     A  Solteiro  Indiferente    7.0  Indiferente
24       25     A    Casado  Indiferente    6.8  Indiferente
26       27     A    Casado  Indiferente    6.1  Indiferente
30       31     A    Casado  Indiferente    8.9  Indiferente
52       53     B  Solteiro  Indiferente    8.1  Indiferente
53       54     B  Solteiro  Indiferente    4.9  Indiferente
54       55     B  Solteiro  Indiferente    4.2  Indiferente
55       56     B  Solteiro  Indiferente    5.5  Indiferente
68       69     B  Solteiro  Indiferente    6.9  Indiferente
69       70     B  Solteiro  Indiferente    6.2  Indiferente
70       71     B    Outros  Indiferente    5.3  Indiferente
71       72     B  Solteiro  Indiferente    5.0  Indiferente
72       73     B  Solteiro  Indiferente    5.4  Indiferente
73       74     B  Solteiro  Indiferente    5.8  Indiferente
74       75     B    Casado  Indiferente    4.9  Indiferente
75       76     B    Casado  Indiferente    4.3  Indiferente

<div id="exe2"></div>

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Monte uma tabela cruzada de sentimento versus plano e estado civil. 

**DICA 1**: a função `pd.crosstab` pode receber uma lista de `Series` (colunas de um `DataFrame`).

**DICA 2**: pesquise por "pandas crosstab multiple columns".

In [10]:
pd.crosstab(dados.SENTIMENTO, dados.EC)

EC           Casado  Solteiro  Outros
SENTIMENTO
Curtiu           23        13       3
Indiferente       5        12       2
Não Curtiu        8         8       8

<div id="exe3"></div>

### EXERCÍCIO 3

Que hipóteses você pode formular a partir dessa tabela?

galera casada curte mais

[Volta ao Índice](#indice)

___
<div id="chocolate"></div>

# Barras de chocolate

<img src="barrachoco.jpg">

Fonte: extraído da internet

O chocolate é um dos doces mais populares do mundo.
A cada ano, os residentes dos Estados Unidos comem coletivamente mais de 1,6 bilhões de quilos de chocolate.
No entanto, nem todas as barras de chocolate são iguais!

O conjunto de dados `flavors_of_cacao.xlsx` traz avaliações de especialistas de mais de 1.700 barras de chocolate sobre as seguintes informações:

 * Company: empresa fabricante do chocolate
 * BeanOriginOrBarName: origem do grão ou nome da barra de cholocate
 * REF: número de referência (registro)
 * ReviewDate: ano de lançamento
 * CocoaPercent: porcentagem do cacau
 * CompanyLocation: localização da empresa fabricante
 * Rating: nota de avaliação do chocolate
 * BeanType: variedade do grão
 * BroadBeanOrigin: origem do grão

Leia cada pergunta a seguir atentamente, as quais todas, sem exceção, fazem uso da base de dados em excel.

In [11]:
# Carregando os dados do arquivo
cacao = pd.read_excel('flavors_of_cacao.xlsx')

<div id="exe4"></div>

### EXERCÍCIO 4

Considerando o *dataframe* `cacao`, faça:
<ul>
 <li> i. Filtre apenas as linhas do ano 2006 em `ReviewDate` e guarde em um novo dataframe com todas as colunas. 
 <li> ii. Usando esse novo dataframe, encontre as frequências relativas dos rótulos contidos na coluna `CocoaPercent`.
</ul>

De acordo com a tabela obtida no item ii acima, responda:
<ul>
 <li> a) Valor da maior frequência relativa? (em decimal e com arredondamento na 4a casa decimal)
 <li> b) Respectiva porcentagem de cacau que possui essa maior frequência relativa?
</ul>

In [12]:
cacao

,Company,BeanOriginOrBarName,REF,ReviewDate,CocoaPercent,CompanyLocation,Rating,BeanType,BroadBeanOrigin
0,Chocolate Makers,Tres Hombres,1530,2015,75%,Amsterdam,3.25,Trinitario,Dominican Republic
1,Chocolate Makers,"Congo, Gorilla bar",1530,2015,68%,Amsterdam,3.50,Forastero,Congo
2,Chocolate Makers,"Peru, Awagum bar",1530,2015,80%,Amsterdam,3.75,Criollo,Peru
3,Metropolitan,South America,1688,2015,70%,Amsterdam,3.50,Trinitario,South America
4,Salgado,Bahia Superior,288,2008,70%,Argentina,3.50,Forastero,Brazil
...,...,...,...,...,...,...,...,...,...
1790,Marou,"Tien Giang, Gao Co-op",845,2012,70%,Vietnam,3.50,Trinitario,Vietnam
1791,Marou,Ben Tre,849,2012,78%,Vietnam,3.50,Trinitario,Vietnam
1792,Marou,Lam Dong,955,2012,74%,Vietnam,3.50,Trinitario,Vietnam
1793,Grand Place,"Ben Tre, Dong Nai",741,2011,72%,Vietnam,3.00,Trinitario,Vietnam
1794,Baravelli's,single estate,955,2012,80%,Wales,2.75,,Costa Rica

<div id="exe5"></div>

### EXERCÍCIO 5

a) Considerando o dataframe `cacao`, faça:
<ul>
 <li> i. Filtre apenas as linhas do ano 2008 em ReviewDate e guarde em um novo dataframe com todas as colunas.
 <li> ii. Usando esse novo dataframe, ordene, em ordem decrescente, a variável Rating.
 <li> iii. Encontre os três países na variável CompanyLocation contendo o maior valor em Rating contido no ano de 2008.
 <li> iv. Guarde, em uma lista, o nome dos três países que possuem esse maior valor de Rating.
</ul>

De acordo com a lista obtida no item (a)iv acima, responda:

Qual o nome desses três países (em ordem alfabética e em inglês, na maneira que está na base de dados)?

<br>

b) Voltando a considerar o dataframe completo `cacao`, faça:
<ul>
 <li> i. Filtre apenas as linhas que contenham os nomes dos três países obtidos no item (a)iv e guarde em um novo dataframe com todas as colunas.
 <li> ii. Usando esse novo dataframe do item (b)i, calcule o tamanho da amostra da coluna Rating.

De acordo com a lista obtida no item (b)ii acima, responda qual o tamanho da amostra.

In [ ]:
# ESCREVA SEU CODIGO AQUI

<div id="exe6"></div>

### EXERCÍCIO 6

Considerando o dataframe `cacao`, faça:
<ul>
 <li> i. Faça uma tabela cruzada com as variáveis ReviewDate e Rating.
 <li> ii. Ainda, no comando do item anterior, adicione um argumento para execução de uma tabela cruzada que permita saber:

    "Para o ano de 2012, qual o percentual de chocolates com Rating igual a 2,5?"


De acordo com a tabela obtida no item ii acima, responda:

    Valor da frequência relativa: (em percentual e com arredondamento na 2a casa decimal)

In [ ]:
# ESCREVA SEU CODIGO AQUI

[Volta ao Índice](#indice)